* {
  box-sizing: border-box;
    margin: 0;
  padding: 0;
}
body {
  font-family: 'Brush Script MT', cursive;
  font-weight: 300;
  background: #030303;
  color: white;
}
.background {
  background-image: linear-gradient(to bottom,transparent 60%,rgba(0,0,0,1.95) 70%, #020202), url("https://cdn.images.express.co.uk/img/dynamic/151/1200x712/4611489.jpg?r=1678269277496");
  width: 100vw;
  height: 100vh;
  background-position: top;
  z-index: 2;
  position: relative;
  box-shadow: 0 50px 50px black;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 100;
  font-family: 'Brush Script MT', cursive;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 3.5rem;
  color: white;
  text-shadow: 6px 1px 6px;
}
h2 {
   position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 100;
  font-family: 'Brush Script MT', cursive;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 3.5rem;
  color: white;
  text-shadow: 6px 1px 6px;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.layer-1 {
  background-image: linear-gradient(to bottom,transparent 50%,rgba(0, 0, 0,1.85) 70%, #020202), url("https://cdn.images.express.co.uk/img/dynamic/151/1200x712/4611489.jpg?r=1678269277496");
  z-index: 70;
}
.layer-2 {
  background-image: linear-gradient(to bottom,transparent 30%,rgba(0,0,0,1.9) 80%, #020202), url("https://cdn.images.express.co.uk/img/dynamic/151/1200x712/4611489.jpg?r=1678269277496");
  z-index: 80;
}
.layer-3 {
  background-image: 
    linear-gradient(to bottom,transparent 60%,rgba(0, 0,0,1.85)100%, #020202), url("https://cdn.images.express.co.uk/img/dynamic/151/1200x712/4611489.jpg?r=1678269277496");
  z-index: 0;
}
.content {
  font-size: 1.5rem;
  line-height: 1.7;
  position: relative;
  background-image: linear-gradient(to bottom,transparent 90%,rgba(0, 0,0,1.85)0%, #020202),  url("https://nayturr.com/wp-content/uploads/2022/03/1200-x-700-2022-03-22T222006.946-1024x582.jpg.webp");
  background-size: cover;
  background-attachment: ;
}
.content2 {
  font-size: 2.2rem;
  line-height: 1.8;
  position: relative;
  background-image: linear-gradient(to top,transparent 100%,rgba(0, 0,0,1.85)60%, #020202),  url("https://cdn.mos.cms.futurecdn.net/BfemybeKVXCf9pgX9WCxsc.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.text2 {
  padding: 2rem 5rem 20rem 10rem;
}
h3 {
  color: red;
}
.text {
  padding: 4rem 10rem 20rem 40rem;
}
.rock {
  background-image: url("");
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-position: left center;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.rocks {
  position: absolute;
  z-index: 1000;
}

.rock-1 {
 width: 100px;
 height: 100px;
 left: 10%;
 top: 50%;
}
.rock-2 {
  width: 120px;
  height: 120px;
  left: 20%;
  top: 30%;
}
.rock-3 {
  width: 80px;
  height: 80px;
  left: 10%;
  bottom: 20%;
}
.rock-4 {
  width: 130px;
  height: 130px;
  bottom: 0;
  left: 31%;
}
.rock-5 {
  width: 110px;
  height: 110px;
  bottom: 0;
  left: 5%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.rock-6 {
  width: 70px;
  height: 70px;
  bottom: 30%;
  left: 20%;
}
.rock-7 {
  width: 120px;
  height: 120px;
  bottom: 35%;
  left: 15%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.rock-8 {
  width: 50px;
  height: 50px;
  bottom: 25%;
  left: 25%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.rock-9 {
  width: 70px;
  height: 70px;
  bottom: 35%;
  left: 30%;
}
.planent {
  background-image: linear-gradient(to top,transparent 1010%,rgba(0,0,0,1.95) 70%, #020202), url("https://cdn.arstechnica.net/wp-content/uploads/2016/05/master_image_kepler_all-planets_may2016-980x667.jpg");
  width: 100vw;
  height: 100vh;
  background-position: top;
  z-index: 2;
  position: relative;
  box-shadow: 0 50px 80px white;
}

.layer-5 {
  background-image: linear-gradient(to bottom,transparent 30%,rgba(0,0,0,1.9) 80%, #020202), url("");
  z-index: 80;
}
.layer-6 {
  background-image: 
    linear-gradient(to bottom,transparent 60%,rgba(0, 0,0,1.85)100%, #020202), url("");
  z-index: 0;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  .rocks, .rock {
    display: none;
  }
  .text {
    padding: 0 3rem 5rem 3rem;
  }
}
